{{ define "content" }}
<!-- FIXME: news carousel -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h2>🎶 Last Tracks</h2>
      {{range .Home.LastTracks}}
      <div class="card my-2 p-1">
        <div class="media">
          <a href="{{.Author.CanonicalURL}}"><img src="{{ .Author.Avatar }}" class="pr-2 rounded-circle" height="60" /></a>
          <div class="media-body">
            <a href="{{.Author.CanonicalURL}}"><h5 class="mt-0 d-inline-block">{{.Author.DisplayName}}</h5></a>
            <a href="{{.CanonicalURL}}"><small class="text-muted">{{.SortDate | fromUnixNano | prettyAgo}}</small></a>

            <div class="card2 mr-1 mb-1">
              <div class="media">
                <a href="{{.CanonicalURL}}"><img src="{{ .ArtworkURL }}" class="p-1 mr-3" alt="Artwork" /></a>
                <div class="media-body">
                  <a href="{{.CanonicalURL}}"><h5 class="mt-0 d-inline-block">{{.Title}}</h5></a>
                  <div>
                    {{with .Body}}<p>{{.}}</p>{{end}}
                    {{with .Genre}}<div>📁 Genre: <span class="badge badge-secondary">{{.}}</span></div>{{end}}
                    {{if .Duration}}<div>⏱ Duration: <span data-toggle="tooltip" data-placement="right" title="{{.GoDuration}}">{{.GoDuration | prettyDuration}}</span></div>{{end}}
                    <!--{{with .DownloadURL}}<div><a href="{{.}}" class="btn">⬇️ Download</a></div>{{end}}-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {{end}}
    </div>
    <div class="col-12 col-md-4">
      <h2>Last Users</h2>
      {{range .Home.LastUsers}}
      <a href="{{.CanonicalURL}}">
        <div class="container btn btn-light py-0 px-2">
          <div class="row">
            <div class="col-xs-2">
              <!-- FIXME: use css rem -->
              <img src="{{.Avatar}}" class="p-1" height="50" />
            </div>
            <div class="col-xs-10" style="line-height: 50px">
                {{.DisplayName}}
            </div>
          </div>
        </div>
      </a>
      {{end}}
    </div>
  </div>
</div>
{{end}}
