{{ template "base" . }}

{{define "content"}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="post">
        <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="linkField">🌐 Link to your track</label>
            <input type="url" name="url" class="form-control{{with .New.URLInvalidMsg}} is-invalid{{end}}" id="linkField" aria-describedby="linkHelp" placeholder="https://..." value="{{.New.URLValue}}" onfocus="this.value = this.value;" autofocus />
            {{if .New.URLInvalidMsg}}
            <div class="invalid-feedback">{{.New.URLInvalidMsg}}</div>
            {{else}}
            <small id="linkHelp" class="form-text text-muted">Supported: SoundCloud.</small>
            {{end}}
          </div>
          <div class="col-md-4 mb-3">
            <label for="uploadField">🗃 or upload a file</label>
            <input type="file" name="upload" class="form-control" id="uploadField" disabled>
            <small id="uploadHelp" class="form-text text-muted">Coming soon</small>
          </div>
        </div>
        <div class="text-right">
          <!--<button name="submit" type="submit" value="published" class="invisible"></button>
          <button name="submit" type="submit" value="draft" class="btn btn-light text-muted mb-2 my-3" disabled>Save draft</button>-->
          <button name="submit" type="submit" value="published" class="btn btn-primary mb-2 my-3">🤟 Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- FIXME: store in cookie incomplete form -->
<!-- FIXME: add CSRF token -->
<!-- FIXME: button to shuffle the title -->
<!-- FIXME: if URL is linked, upload is disabled, and vice versa -->
<!-- FIXME: disclaimer: I've the rights -->
<!-- FIXME: button upload -> update the design -->
<!-- FIXME: support drag & drop (everywhere on the website) -->
<!-- FIXME: validation + bootstrap feedback -->
{{end}}
