html {
  position: relative;
  min-height: 100%;
  background-color: #f8f9fa;
}

main {
  margin: 2rem 0;
}

.navbar-brand strong {
  line-height: 2.1rem;
  font-size: 1.5rem;
}
.navbar-brand svg {
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 0.4rem;
}

.navbar .avatar {
  width: 2.1rem;
  height: 2.1rem;
}
