{{ template "base" . }}

{{define "head"}}
  <link rel="canonical" href="https://sgtm.club{{.Post.Post.CanonicalURL}}" />
  <meta property="og:url" content="https://sgtm.club{{.Post.Post.CanonicalURL}}" />
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:src" property="og:image" itemprop="image primaryImageOfPage" content="https://sgtm.club/_assets/img/logo-1x.png" />
  <meta property="og:image:width" content="2901" />
  <meta property="og:image:height" content="2859" />
  <meta name="twitter:title" property="og:title" itemprop="title name" content="{{.Post.Post.SafeTitle}} by {{.Post.Post.Author.DisplayName}}" />
  <meta name="twitter:description" property="og:description" itemprop="description" content="Sounds good to me (SGTM)." />
  <meta name="description" content="Check out {{.Post.Post.SafeTitle}} by {{.Post.Post.Author.DisplayName}} on SGTM." />

  {{if .Post.Post.IsSoundCloud}}
    <script type="text/javascript" src="https://w.soundcloud.com/player/api.js" defer></script>
  {{end}}

{{end}}

{{define "content"}}
  {{$root := .}}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>{{.Post.Post.SafeTitle}}</h1>
        <p>by <a href="{{.Post.Post.Author.CanonicalURL}}"><img height="30" src="{{.Post.Post.Author.Avatar}}" />@{{.Post.Post.Author.Slug}}</a></p>

        {{if .Post.Post.IsSoundCloud}}
          <iframe id="soundcloud-player" width=100% height=166 scrolling=no frameborder=no allow=autoplay
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{.Post.Post.SoundCloudID}}{{with .Post.Post.SoundCloudSecretToken}}%3Fsecret_token%3D{{.}}{{end}}&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
        {{else}}{{if .Post.Post.IsIPFS}}
          <audio controls>
            <source  src="/post/{{.Post.Post.ID}}/download" />
            <source  src="https://gateway.ipfs.io/ipfs/{{.Post.Post.IPFSCID}}" />
            <source  src="https://ipfs.io/ipfs/{{.Post.Post.IPFSCID}}" />
            <source src="https://cloudflare-ipfs.com/ipfs/{{.Post.Post.IPFSCID}}" />
            <source  src="https://jorropo.ovh/ipfs/{{.Post.Post.IPFSCID}}" />
            Your browser does not support the
            <code>audio</code> element.
          </audio>
        {{end}}{{end}}
        {{with .Post.Post.SafeDescription}}
          <p>{{. | markdownify}}</p>
        {{end}}
        {{with .Post.Post.SafeLyrics}}
          <div>
            Lyrics:
            <pre class="border p-2">{{.}}</pre>
          </div>
        {{end}}
        {{with .Post.Post.TagList}}<div>📁 Tags: {{range .}}<span class="badge badge-secondary">{{.}}</span> {{end}}</div>{{end}}
        {{if .Post.Post.Duration}}<div>⏱ Duration: <span data-toggle="tooltip" data-placement="right" title="{{.Post.Post.GoDuration}}">{{.Post.Post.GoDuration | prettyDuration}}</span></div>{{end}}
        {{with .Post.Post.BPM}}
          <div>⏩ BPM: {{.}}</div>
        {{end}}
        {{if .Post.Post.IsIPFS}}
          <div>🔈 Type: {{ .Post.Post.MIMEType }}</div>
          <div>⬇️ <a download="{{.Post.Post.SafeTitle}}.{{.Post.Post.FileExtension}}" href="/post/{{ .Post.Post.ID }}/download">Download</a></div>
          <div style="word-break: break-all;">⚓ IPFS CID: {{ .Post.Post.IPFSCID }}</div>
        {{end}}
        <!--{{with .Post.Post.DownloadURL}}<div><a href="{{.}}" class="btn">⬇️ Download</a></div>{{end}}-->
        <div>📆 Added <span data-toggle="tooltip" data-placement="right" title="{{.Post.Post.SortDate | fromUnixNano | prettyDate}}">{{.Post.Post.SortDate | fromUnixNano | prettyAgo}}</span></div>
        <!--<div><span class="fa fa-soundcloud"></span> {{.Post.Post.URL}}</div>-->

        <!-- RELATIONSHIPS -->
        {{ range $rel := .Post.Post.RelationshipsAsSource }}
          {{$kind := .Kind.String}}
          {{with eq $kind "FeaturingUserKind"}}{{":handshake:" | emojify}} feat. {{template "user_link_with_pict_and_name" $rel.TargetUser}}{{end}}
        {{end}}
        <!-- FIXME: .Post.Post.RelationshipsAsTarget -->



        {{if or (len .Post.Comments) (.User)}}
          <div class="card mt-3 p-1">
            {{if len .Post.Comments}}
              <ul class="list-group list-group-flush">
                {{range $comment := .Post.Comments}}
                  <li class="list-group-item p-1 list-group-item-action{{if eq $root.UserID $comment.AuthorID}} list-group-item-info{{end}}" id="comment-{{$comment.ID}}">
                    <div class="media">
                      <a href="{{.Author.CanonicalURL}}"><img src="{{ .Author.Avatar }}" class="mr-2 rounded-circle" width="60" height="60" /></a>
                      <div class="media-body">
                        <a href="{{.Author.CanonicalURL}}"><h5 class="mt-0 d-inline-block">{{.Author.DisplayName}}</h5></a>
                        <a href="{{$root.Post.Post.CanonicalURL}}#comment-{{$comment.ID}}"><small class="text-muted">{{.CreatedAt | fromUnixNano | prettyAgo}}</small></a>
                        <div class="media">
                          {{$comment.Body | emojify}}
                        </div>
                      </div>
                    </div>
                  </li>
                {{end}}
              </ul>
            {{end}}
            {{if .User}}
              <form method="post">
                <div class="mb-1">
                  <textarea maxlength="500" name="comment" class="form-control" placeholder="Write your comment..." id="commentInput" rows="2"></textarea>
                </div>
                <div class="text-right">
                  <button name="submit" type="submit" value="published" name="post-comment" class="btn btn-primary">Post comment</button>
                </div>
              </form>
            {{end}}
          </div>
        {{end}}
      </div>

      <div class="col-md-4">
        {{if eq .Post.Post.Author.ID .UserID}}
          <div class="card mb-3 bg-secondary text-white">
          <div class="card-header"><span class="fa fa-user-cog"></span> Manage (author)</div>
          <div class="p-2">
            <div><a href="{{.Post.Post.CanonicalURL}}/edit" class="text-white"><span class="fa fa-edit"></span> Edit</a></div>
            {{if .Post.Post.IsSoundCloud}}
              <div><a href="{{.Post.Post.URL}}" class="text-white"><span class="fab fa-soundcloud"></span> See original</a></div>
            {{end}}
          </div>
        </div>
        {{end}}
        <div class="card mb-3 bg-light">
          <div class="card-header"><span class="fa fa-share-alt"></span> Sharing</div>
          <div class="p-2">
            <div><a href="https://twitter.com/intent/tweet?url=https://sgtm.club{{.Post.Post.CanonicalURL}}&text={{.Post.Post.SafeTitle}}+by+{{.Post.Post.Author.DisplayName}}" target="_blank" title="Share on Twitter">
              <span class="fab fa-twitter" aria-hidden="true"></span> Share on Twitter
            </a></div>
            <div><a href="https://www.facebook.com/sharer/sharer.php?u=https://sgtm.club{{.Post.Post.CanonicalURL}}&t={{.Post.Post.SafeTitle}}+by+{{.Post.Post.Author.DisplayName}}" target="_blank" title="Share with Facebook">
              <span class="fab fa-facebook" aria-hidden="true"></span> Share on facebook
            </a></div>
          </div>
        </div>
        {{if .IsAdmin}}
          <div class="card mb-3 bg-danger text-white">
            <div class="card-header"><span class="fa fa-user-lock"></span> Admin</div>
            <div class="p-2">
              <div><a href="{{.Post.Post.CanonicalURL}}/maintenance?extract_bpm=1" class="text-white"><span class="fa fa-sync"></span> Extract BPM</a></div>
              <div><a href="{{.Post.Post.CanonicalURL}}/maintenance?detect_relationships=1" class="text-white"><span class="fa fa-sync"></span> Detect Relationships</a></div>
              {{ if .Post.Post.IsSoundCloud }}
                <div><a href="{{.Post.Post.CanonicalURL}}/maintenance?resync_soundcloud=1" class="text-white"><span class="fa fa-sync"></span> Resync SoundCloud</a></div>
              {{ end }}
              {{if not (eq .Post.Post.Author.ID .User.ID)}}
                <div><a href="{{.Post.Post.CanonicalURL}}/edit" class="text-white"><span class="fa fa-edit"></span> Edit</a></div>
                <div><a href="{{.Post.Post.URL}}" class="text-white"><span class="fab fa-soundcloud"></span> See original</a></div>
              {{end}}
            </div>
          </div>
        {{end}}
      </div>
    </div>
  </div>
{{end}}
